.img-con1 img{
    /* display: flex; */
   width: 35vh;
   height: 60vh;
   border-radius: 20px;
   cursor: pointer;
 
}
.img-con1 h3{
    width: 35vh;;
    display: flex;
    cursor: pointer;
}
.img-con1 > p {
    width: 35vh;;
    display: flex;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
}