/* .App {
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input {
    padding: 5px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  } */