/* src/showmoviedetails/BookingSuccess.css */
.booking-success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .booking-success-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .booking-success-card h1 {
    color: #4caf50;
    margin-bottom: 20px;
  }
  
  .booking-success-card p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .back-home-button {
    /* padding: 10px 20px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 120px; 
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* font-size: 16px; */
  }
  
  .back-home-button:hover {
    background-color: #45a049;
  }